@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #112211;
  --mint-green-100: #8dd3bb;
  --mint-green-70: #d7e2ee;
  --mint-green-50: #cdeae1;
  --salmon-100: #ff8682;
  --neutrals-70: #fafbfc;
  --blackish-green-10: #1c1b1f;
  --blackish-green-20: #79747e;
  --box-shadow-light: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  --box-shadow-medium: 2px 4px 16px rgba(17, 34, 17, 0.1);
}

/* referencing other colors using the inline keyword */
@theme inline {
  --font-montserrat: var(--font-montserrat);
  --color-blackish-green: var(--foreground);
  --color-blackish-green-10: var(--blackish-green-10);
  --color-blackish-green-20: var(--blackish-green-20);
  --color-mint-green-100: var(--mint-green-100);
  --color-mint-green-70: var(--mint-green-70);
  --color-mint-green-50: var(--mint-green-50);
  --color-salmon-100: var(--salmon-100);
  --color-neutrals-70: var(--neutrals-70);
  --shadow-light: var(--box-shadow-light);
  --shadow-medium: var(--box-shadow-medium);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.select_wrapper .ant-select .ant-select-selector,
.date_wrapper .ant-picker-outlined {
  border: none;
  padding-left: 0px;
}

.ant-select-single .ant-select-selector,
.ant-picker .ant-picker-input > input,
.ant-checkbox-wrapper {
  font-family: var(--font-montserrat);
}

.hide_scroll::-webkit-scrollbar {
  display: none;
}

.ant-slider .ant-slider-track {
  background-color: var(--foreground);
}

.ant-slider-horizontal .ant-slider-rail,
.ant-slider .ant-slider-track {
  height: 2px;
  top: 9px;
}

.ant-slider .ant-slider-handle,
.ant-slider .ant-slider-handle::before,
.ant-slider .ant-slider-handle::after,
.ant-slider .ant-slider-handle:focus::after,
.ant-slider .ant-slider-handle:hover::after {
  width: 24px;
  height: 24px;
}

.ant-slider .ant-slider-handle::after {
  background-color: var(--mint-green-100);
  box-shadow: none;
}

.ant-checkbox-group {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.ant-checkbox .ant-checkbox-inner {
  width: 18px;
  height: 18px;
  border: 2px solid var(--foreground);
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner,
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--mint-green-100);
}

.ant-checkbox-wrapper {
  font-weight: 500;
  color: var(--foreground);
}

.animated_dots {
   width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
    0%  {box-shadow: 20px 0 var(--blackish-green-20), -20px 0 var(--neutrals-70);background: var(--blackish-green-20) }
    33% {box-shadow: 20px 0 var(--blackish-green-20), -20px 0 var(--neutrals-70);background: var(--neutrals-70)}
    66% {box-shadow: 20px 0 var(--neutrals-70),-20px 0 var(--neutrals-70); background: var(--neutrals-70)}
    100%{box-shadow: 20px 0 var(--neutrals-70),-20px 0 var(--blackish-green-20); background: var(--blackish-green-20) }
}